@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
      font-family: 'Gloria Hallelujah', cursive;        
}


body {
  width: 100%;
    background-image: 
     radial-gradient(closest-side at 25% 25%,rgb(255, 192, 203, .3) 80%,#0000 81%),
     radial-gradient(closest-side at 75% 75%,rgb(255, 192, 203, .3) 80%,#0000 81%);
   background-size: 60px 60px;
}

.post-its {
    display: grid;
    grid-template-columns: repeat(auto-fit,     
    minmax(250px, 1fr));
    grid-template-rows: 1fr;
    gap: 8% 2%;
    justify-items: center;
  margin-top: 5%;

  }
  .folded {
      display: flex;
      position: relative;
      align-items: center;
      height: 100%;
    transform: rotate(-15deg);
  }
  .folded h4 {
    color: rgb(58, 58, 58);
    text-align: center;
    padding: 13.8% 10% 0 0;
    transform: rotate(-12deg);
  }
    .paper-blue {
      --paper-color: #d5e0f9;
      --paper-dark: #c2d0ea;
      --shadow-size: 2px;
      --transparent: rgba(213, 224, 249, 0);
      position: relative;
      display: flex;
      width: 10em;
      height: 60%;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
          to bottom right,
          var(--paper-dark),
          20%,
          var(--transparent)
        ),
        var(--paper-color);
      font-size: 2rem;
      box-shadow: 2px 3px 3px 1px rgb(165, 183, 192);
  
      
  }
  .paper-blue::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      var(--transparent),
      96%,
      #bccae3,
      97%,
      var(--transparent)
    ),
    linear-gradient(90deg, var(--transparent),
    59%,
    #bcc9e3,
    60%,
    var(--transparent)
    );
  }
  .blue-fold {
      position: absolute;
      background: linear-gradient(90deg, var(--transparent),59%, #bcc9e3 ,60%, var(--transparent)),
      linear-gradient( var(--paper-color), var(--paper-dark));
      top: 35%;
      width: 10em;
      height: 65%;
      box-shadow: 2px 2px 3px 1px rgb(165, 183, 192);
      z-index: 1;
  
  }
  .fold-trans {
      position: absolute;
      background: linear-gradient(90deg, var(--transparent),59%, var(--paper-dark),60%, var(--transparent)),
      linear-gradient( var(--paper-color), var(--paper-dark)),
      linear-gradient(
      var(--transparent),
      98%,
      #bcc9e3,
      99%,
      var(--transparent));
       top: 99%;
      width: 10em;
      height: 65%;
      box-shadow: 2px 3px 3px 1px rgb(165, 183, 192);
      opacity: 0;
  }
  
  .folded:hover .blue-fold{
      animation:swing-in-bottom-bck .2s ease-out reverse both
  }
  .folded:hover .fold-trans {
      animation: fade-in .1s cubic-bezier(.39,.575,.565,1.000) .1s both;
  }
  
  @keyframes swing-in-bottom-bck{0%{transform:rotateX(-70deg);transform-origin:bottom;opacity:0}100%{transform:rotateX(0);transform-origin:bottom;opacity:1}}
  @keyframes fade-in{0%{opacity:0}100%{opacity:1}}

  
  .dog-ear {
      display: flex;
      position: relative;
      align-items: center;
      height: 100%;
    transform: rotate(10deg);
  }
  .dog-ear h4 {
    color: rgb(58, 58, 58);
    transform: rotate(-2deg);
  }
  .paper-yellow {
          --paper-color: #ffff99;
          --paper-dark: #e8e88d;
          --shadow-size: 2px;
          --transparent: rgba(213, 224, 249, 0);
          position: relative;
            background: linear-gradient(
              135deg, transparent 18%, #ffff99 0);
          min-width: 10em;
          min-height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          box-shadow: 3px 3px 3px 1px rgb(193, 195, 165);
          margin-top: 15%;
  }
  .paper-yellow::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: 
        linear-gradient(32deg,
          var(--transparent),
          69%,
          var(--paper-dark),
          70%,
          var(--transparent)
        ),
        linear-gradient(65deg,
          var(--transparent),
          65%,
          var(--paper-dark),
          66%,
          var(--transparent)
        ),
        linear-gradient(-70deg, var(--transparent),
        60%,
        var(--paper-dark),
        61%,
        var(--transparent)
        );
  }
  .corner-yellow {
      position: absolute;
      bottom: 50%;
      right: 69%;
      border-bottom: 3.1em solid #f5f595;
      border-left: 3.1em solid transparent;
      box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
      z-index: 1;
  }
  .corner-up {
      position: absolute;
      bottom: 50%;
      right: 69%;
      border-bottom: 3.1em solid #f2f292;
      border-left: 3.1em solid transparent;
      opacity: 0;
      z-index: 1;
  }
  .dog-ear:hover .corner-yellow{
      animation: flip-diagonal-2-tl .3s cubic-bezier(.455,.03,.515,.955) both;
  }
  .dog-ear:hover .corner-up{
      animation: flip-diagonal-2-tl-2 .3s cubic-bezier(.455,.03,.515,.955) both;
  }
  @keyframes flip-diagonal-2-tl {
      0%{transform:rotate3d(-1,1,0,0deg);opacity:1;}100%{transform:rotate3d(-1,1,0,-180deg);opacity:0;}
  }
  @keyframes flip-diagonal-2-tl-2 {
      0%{transform:rotate3d(-1,1,0,0deg);opacity:0;}100%{transform:rotate3d(-1,1,0,-180deg);opacity:1;}
    
   
    
  